
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}

.large-header {
	position: relative;
	
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
    background-color: #333;
	background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

